
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(fonts/Montserrat-Medium.ttf) format("truetype");
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --header-bg-color: #f2f2f2;
  --home-bg-color: rgb(6, 5, 5);
  --home-font-color: rgb(217, 242, 245);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #000000, #16140c);
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background: var(--header-bg-color);
  box-shadow: 
  inset 0 -2px 10px rgba(0, 0, 0, 0.579); /* Stronger shadow at the bottom */
}

.header-left {
  display: flex;
  margin-left: 50px;
  width: 350px;
}

.logo-header {
  background: url(img/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(0, 0, 0);
  background-color: black;
  border-radius: 50%;
  margin: 5px 0 5px 0;
  width: 22%;
}

.title-header {
  align-self: center;
  padding-left: 10px;
  font-size: 1.7rem;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

button > span {
  padding-bottom: 2px;
}

button:not(.book-btn) {
  width: 100px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  border: none;
}

button:hover {
  transform: scale(1.15);
  span {
    border-bottom: 2px solid black;
  }
}

.highlight {
  border-bottom: 2px solid black;
}

button:active {
  transform: scale(1.25);
}

button.book-btn:hover {
  transform: scale(1.10);
}

button.book-btn:active {
  transform: scale(1.20);
}

.home-container {
  display: flex;
  flex: 1;
}

#content .content-img {
  position: relative;
  background-image: url(img/home-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 1;
}

.home-content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background: var(--home-bg-color);
  color: var(--home-font-color);
}

.footer {
  position: absolute;
  font-size: 1rem;
  display: flex;
  height: 40px;
  bottom: 0; /* Align to the bottom of the container */
  left: 0; /* Ensure it stretches across the container */
  width: 100%; /* Full width of the container */
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.573);
}

a:visited {
  color: rgba(255, 255, 255, 0.573);
}

.footer-img {
  background: url(img/github.svg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  background-color: aliceblue;
  width: 25px;
  height: 25px;
}

.headline {
  font-size: 3rem;
  width: 80%;
  text-align: center;
}

.description {
  font-size: 1.4rem;
  outline: 1px solid black;
  width: 90%;
  text-align: center;
}

.description > em {
  color: rgb(215, 245, 125);
  font-size: 1.45rem;
}

.book-btn {
  border: 1px solid rgb(217, 242, 245);
  font-size: 1.4rem;
  color: rgb(217, 242, 245);
  font-weight: normal;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

/* Menu Content Style */

.menu-container {
 display: grid;
 grid-template-columns: repeat(3, 500px);
 grid-template-rows: repeat(2, minmax(400px, 1fr));
 gap: 100px;
 justify-content: center;
}

.menu-container > div {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px 2px rgba(186, 238, 246, 0.526); 
  transition: transform 0.3s ease-out;
}

.menu-container > div:hover {
  transform: scale(1.05);
}

.img {
  border-radius: 50px 50px 0 0;
  height: 75%;
  box-shadow: inset rgb(3, 3, 3) 5px 5px 60px -2px; 
}

.card-1 .img {
  background: url(img/filet-mignon.jpg);
  background-size: cover;
  background-position: top -10px right 0;
  background-repeat: no-repeat; 
}

.card-2 .img {
  background: url(img/ribeye-steak.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
}

.card-3 .img {
  background: url(img/steak-frites.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom -30px right 0;
}

.card-4 .img {
  background: url(img/steak-tartare.jpg);
  background-size: 500px auto;
  background-repeat: no-repeat;
  background-position: bottom -130px right 0;
}

.card-5 .img {
  background: url(img/surf-turf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom -175px right 0;
}

.card-6 .img {
  background: url(img/tomahawk-steak.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom -20px right 0;
}

.food-title {
  position: relative;
  text-align: center;
  padding: 10px 0;
  height: 10%;
  font-size: 1.3rem;
  background-color: #000000;
  border-top: 2px solid rgba(178, 240, 248, 0.51);
  color: var(--home-font-color);
}

.desc {
  height: 15%;
  font-size: clamp(1rem, 0.5vw, 1.3rem);
  padding: 2px 25px 5px 25px;
  text-align: center;
  border-radius: 0 0 50px 50px;
  word-wrap: break-word;
  background-color: #000000;
  color: var(--home-font-color);
}

.menu-title {
  color: var(--home-font-color);
  text-align: center;
  font-size: 3.3rem;
  padding: 30px 0 30px 0;
}

/* Contact style */ 

.contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.contact-bg-img {
  position: absolute;
  background: url(img/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
  width: 100%;
  z-index: -1;
}

.contact-sec {
  background-color: #16140ce9;
  width: 40%;
  height: 65vh;
  border-radius: 50px;
  border: 1px solid rgba(209, 248, 245, 0.492);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  font-size: 3.3rem;
  padding: 50px 0 50px 0;
  color: var(--home-font-color);
}

.info-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 700px;
  gap: 40px;
  color: var(--home-font-color);
  padding-left: 75px;
  font-size: 1.8rem;
  padding-bottom: 70px;
}

.info {
  line-height: 2.5rem;
}

.follow-container {
  width: 700px;
  padding-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.follow-container > div {
  transition: transform 0.2s ease-out;
  cursor: pointer;
}


.follow-container > div:hover {
  transform: scale(1.05);
}

.follow-container > div:active {
  transform: scale(1.1);
}

.insta {
  background: url(img/insta.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: cover;
}

.x {
  background: url(img/x.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
}

.facebook {
  background: url(img/facebook.svg);
  width: 64px;
  height: 64px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  overflow: hidden;
}

.follow-us {
  color: rgb(250, 242, 201);
  font-size: 1.8rem;
}
